@model Tag;


<div class="card-block">
    <h4 class="sub-title">Edit Tag</h4>
    <form method="post">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Tag name</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control" placeholder="Add tag name">
            </div>
        </div>



        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Tag</label>
            <div class="col-sm-10">
                <input asp-for="Name" type="text" class="form-control">
            </div>
        </div>

        <button class="btn btn-primary">Edit</button>

    </form>

</div>
